.displaydebt{
	margin-left: 100px;
	width: 500px;
}
.fontStyle{
  font-family:'Muli';
}
.debtTitle{
  font-size: 25px;
  font-family:'Muli';
}
.debtCreditor{
  text-align: right;
}
.debtTable{
  /*border-top: solid 1px green;*/
  border-bottom: solid 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px;
}
.moneyInput{
  background-color:yellow;
}
